h2{
    width: 220px;
    font-family: 'sans-serif';
    text-align: center;
    color: #ff7200;
    font-size: 30px;
    background-color: #fff;
    border-radius:10px ;
    margin: 2px;
    padding: 8px;
}
.btnn{
    width: 240px;
    height: 65px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    }
     input:focus{
        outline: none;
    } 
    ::placeholder{
        color: white;
        font-family: 'Arial';
    
    }